
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-google-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
                                /* shared styles  */

* {
    margin: 0;
    padding: 0;
}

.btn-primary {
    background-color: #FF900E ;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    padding: 20px 25px;
}
.display-flex {
    display: flex;
}
.section-title {
    font-weight: 700;
    font-size: 2.8rem;
}

/* Dark 02 */
.text-gray {
    color: #424242;
}
/* Dark 01 */
.text-black {
    color: #131313;
}
/* Dark 03 */
.text-light-gray {
    color: #727272;
}
.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

                                    /* main styles  */


             /* nav related styles  */

.navbar {
    justify-content: space-between;
    align-items: center;
}
.brand {
    font-weight: 700 ;
    font-size: 2.8rem;
}
.nav-links {
    list-style: none;
}
.nav-link {
    text-decoration: none;
    padding-right: 20px;
    font-weight: 500;
    font-size: 1.1rem;
}
.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related styles */
.banner-content {
    max-width: 850px ;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title {
    font-size: 4rem;
    font-weight: 700;
}
.banner-description {
    font-size: 1rem;
    line-height: 1.25rem;
    /* margin: 32px 0; */
    
}
.banner-image {
    width: 100%;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}
main > section {
    margin-top: 130px;
}
/* team and feature related style  */
.teams {
    align-items: center;
}
.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-feature {
    margin-left: 73px;
    max-width: 537px;
}

#quick-list {
    font-weight: 500;
}
#feature {
    color: #FF900E;
}
.feature-description {
    font-size: 1rem;
    line-height: 1.3rem;
    margin: 24px 0 32px 0;
}
/* some facts related style  */
.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-card {
    border: 1px solid #FF900E;
    width: 241px;
    height: 241px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fact-description {
    width: 540px;
    font-size: 1rem;
    margin: 24px 0 100px 0;
    line-height: 1.625rem;

}
.fact-icon {
    width: 45px;
    height: 45px;
}
.fact-number {
    font-size: 2.8125rem;
    font-weight: 600;
    margin: 10px 11px 5px 11px;
}
.fact-name {
    font-size: 1.25rem;
    font-weight: 600;
}

/* responsive media query  */
@media screen and (max-width: 576px) {
    .navbar ,
     .nav-links,
     .teams {
        flex-direction: column;
    }
    .banner-title {
        font-size: 3.5rem;
    }
    .team-img-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .our-feature {
        margin-left: 20px;
        text-align: center;
    }
}

/* responsive medium devise */
 
@media screen and (min-width: 576px) and (max-width:992px) { 
     .teams {
        flex-direction: column;
    }
    .our-feature {
        text-align: center;
    }
}