
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-google-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
                                /* shared styles  */

* {
    margin: 0;
    padding: 0;
}

.btn-primary {
    background-color: #FF900E ;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    padding: 20px 25px;
}
.display-flex {
    display: flex;
}
.section-title {
    font-weight: 700;
    font-size: 2.8rem;
}

/* Dark 02 */
.text-gray {
    color: #424242;
}
/* Dark 01 */
.text-black {
    color: #131313;
}
/* Dark 03 */
.text-light-gray {
    color: #727272;
}
.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

                                    /* main styles  */


             /* nav related styles  */

.navbar {
    justify-content: space-between;
    align-items: center;
}
.brand {
    font-weight: 700 ;
    font-size: 2.8rem;
}
.nav-links {
    list-style: none;
}
.nav-link {
    text-decoration: none;
    padding-right: 20px;
    font-weight: 500;
    font-size: 1.1rem;
}
.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related styles */
.banner-content {
    max-width: 850px ;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title {
    font-size: 4rem;
    font-weight: 700;
}
.banner-description {
    font-size: 1rem;
    line-height: 1.25rem;
    /* margin: 32px 0; */
    
}
.banner-image {
    width: 100%;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}
main > section {
    margin-top: 130px;
}
/* team and feature related style  */
.teams {
    align-items: center;
}
.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-feature {
    margin-left: 73px;
    max-width: 537px;
}

#quick-list {
    font-weight: 500;
}
#feature {
    color: #FF900E;
}
.feature-description {
    font-size: 1rem;
    line-height: 1.3rem;
    margin: 24px 0 32px 0;
}
/* features section related style */
.features {
    display: flex;
    gap: 140px;
}
#features-section-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-section-description {
    font-size: 1rem;
    line-height: 1.625rem;
}
.features-card-container {
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    padding: 35px;
    margin-bottom: 24px;
    border-radius: 8px;
}
.features-card-container:first-child {
    margin-top: 32px;
}
.feature-card-title {
    font-weight: 600;
    font-size: 1.25rem; 

}
.features-card-description {
    font-size: 1rem;
    line-height: 1.625rem;
}
.feature-image img {
    width: 100%;
}
#experience-badge {
    padding: 45px 42px;
    margin: -100px 0 0 -100px;
}
#experience-year {
    font-size: 4.625rem;
    font-weight: 700;
    color: #ffffff;
}
.experience {
    font-size: 1.5625rem;
    color: #ffffff;
}
/* some facts related style  */

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-card {
    border: 1px solid #FF900E;
    width: 241px;
    height: 241px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fact-description {
    width: 540px;
    font-size: 1rem;
    margin: 24px 0 100px 0;
    line-height: 1.625rem;

}
.fact-icon {
    width: 45px;
    height: 45px;
}
.fact-number {
    font-size: 2.8125rem;
    font-weight: 600;
    margin: 10px 11px 5px 11px;
}
.fact-name {
    font-size: 1.25rem;
    font-weight: 600;
}
/* sponsor related style  */
.section-title {
    margin-bottom: 24px;
}
.sponsor-info {
    max-width: 542px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}
.sponsor-image {
    filter: grayscale(100%);
}

/* responsive media query  */
@media screen and (max-width: 576px) {
    .navbar ,
     .nav-links,
     .teams ,
     .features {
        flex-direction: column;
    }
    .banner-title {
        font-size: 3.5rem;
    }
    .team-img-container , 
    .card-container , 
    .sponsor-companies {
        grid-template-columns: repeat(1, 1fr);
    }
    .card-container , .sponsor-companies{
        justify-items: center;
        gap: 24px;
    }
    .sponsor-companies{
        justify-items: center;
        gap: 50px;
    }
    .fact-description {
        width: auto;
        text-align: center;
    }
    .our-feature {
        margin-left: 20px;
        text-align: center;
    }
    #experience-badge {
        margin: 20px 0 0 20px;
        padding: 20px 20px;
        
    }
    #experience-year {
    font-size: 2.625rem;
    font-weight: 500;
   }
   .features-card-description {
    text-align: center;
    padding-left: 0px;
   }
   .section-title ,  .sponsor-description , .feature-section-description {
    text-align: center;
   }
   .sponsor-description {
    margin-bottom: 30px;
   }

}

/* responsive medium devise */
 
@media screen and (min-width: 576px) and (max-width:992px) { 
     .teams , .features {
        flex-direction: column;
    }
    .our-feature {
        text-align: center;
    }
    .sponsor-companies , .card-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px ;
        justify-items: center;
    }
    #experience-badge {
        margin: 20px 0 0 20px;
        padding: 20px 20px;
        
    }
    .section-title ,  .sponsor-description , .feature-section-description {
    text-align: center;
   }
   .features-card-description {
    text-align: center;
    padding-left: 0px;
   }
   .fact-description {
        width: auto;
        text-align: center;
    }
    .sponsor-description {
        margin-bottom: 30px;
    }
}