
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-google-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
                                /* shared styles  */

.display-flex {
    display: flex;
}

/* Dark 02 */
.text-gray {
    color: #424242;
}
/* Dark 01 */
.text-black {
    color: #131313;
}
/* Dark 03 */
.text-light-gray {
    color: #727272;
}
.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

                                    /* main styles  */


             /* nav related styles  */

.navbar {
    justify-content: space-between;
}
.nav-links {
    list-style: none;
}
.nav-link {
    text-decoration: none;
    padding-right: 20px;
}
.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}