
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-google-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
                                /* shared styles  */

.btn-primary {
    background-color: #FF900E ;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    padding: 20px 25px;
}
.display-flex {
    display: flex;
}

/* Dark 02 */
.text-gray {
    color: #424242;
}
/* Dark 01 */
.text-black {
    color: #131313;
}
/* Dark 03 */
.text-light-gray {
    color: #727272;
}
.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

                                    /* main styles  */


             /* nav related styles  */

.navbar {
    justify-content: space-between;
    align-items: center;
}
.brand {
    font-weight: 700 ;
    font-size: 2.8rem;
}
.nav-links {
    list-style: none;
}
.nav-link {
    text-decoration: none;
    padding-right: 20px;
    font-weight: 500;
    font-size: 1.1rem;
}
.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related styles */
.banner-content {
    max-width: 850px ;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title {
    font-size: 4rem;
    font-weight: 700;
}
.banner-description {
    font-size: 1rem;
    line-height: 1.25rem;
    /* margin: 32px 0; */
    
}
.banner-image {
    width: 100%;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}
main > section {
    margin-top: 130px;
}
/* team and feature related style  */
.teams {
    align-items: center;
}
.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-feature {
    margin-left: 73px;
    max-width: 537px;
}
.feature-title {
    font-weight: 700;
    font-size: 2.8rem;
}
#quick-list {
    font-weight: 500;
}
#feature {
    color: #FF900E;
}
.feature-description {
    font-size: 1rem;
    line-height: 1.3rem;
}

/* responsive media query  */
@media screen and (max-width: 576px) {
    .navbar , .nav-links {
        flex-direction: column;
    }
}